.link {
    cursor: pointer;
}

.burger {
    width: 20px;
    height: 16px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}


.line {
    height: 2px;
    width: 100%;
    background: var(--textColor);
}

.responsiveMenu {
    display: none;
}

@media screen and (max-width: 678px) and (min-width: 300px) {
    
    .burger {
        display: flex;
    }

    .responsiveMenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        background: var(--bg);
        height: calc(100vh - 100px);
        width: 100%;
        align-items: center;
        justify-content: center;
        gap: 50px;
        font-size: 36px;
        background-color: rgba(153, 153, 153);
        backdrop-filter: blur(2px);
    }
    
}



