.container {
    width: 60%;
    height: auto;
}

.content .cardlist {
    width: 60%;
    flex: 1;
}


.titlePosts {
    margin-bottom: 20px;
}

.posts {
    width: 100%;
    
}

.post {
    display: flex;
    margin: 20px 0;
}


.imagePost {
    width: 300px;
    height: 300px;
    position: relative;
    flex: 1;
    border-radius: 10px;
    overflow: hidden;
}

.contentPost {
    padding: 0 20px;
    flex: 1;
    margin: auto 0;

}

.titlePost {
    text-align: end;
    font-size: 1.2em;
    margin-bottom: 20px;
}
