:root {
    --bg:#fff;
    --textColor:#000;
    --softBg:#f0f0f0;
    --softTextColor:#626262;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    overflow-x: hidden;   

}

a {
    color: inherit;
    text-decoration: none;
}

/* Responsive */
.container {
    min-height: 100vh;
    background-color: var(--bg);
    color: var(--textColor);
    
}

.wrapper {
    max-width: 1528px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 80px;
}

@media screen and (max-width: 1528px) {
    .wrapper {
        max-width: 1240px;
    }
}

@media screen and (max-width: 1240px) {
    .wrapper {
        max-width: 1080px;
        padding: 0 40px;
    }
}

@media screen and (max-width: 1080px) {
    .wrapper {
        max-width: 800px;
    }
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: 678px;
    }
}

@media screen and (max-width: 678px) {
    .wrapper {
        max-width: 450px;
    }
}