.container {
    margin-top: 30px;
}

.title {
    font-size: 3em;
}

.post {
    display: flex;
    gap: 50px;
    margin-top: 60px;
}

.imgContainer {
    flex: 1;
    width: 500px;
    height: 500px;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

.image {
    object-fit: cover;
}
.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    gap: 20px;
}

.postTile {
    font-size: 40px;
}

.postDescription {
    font-size: 20px;
    font-weight: 300;
    color: var(--textColor);
}

.btnReadMore {
    width: 100px;
    height: 40px;
    font-size: 16px;
    background: #a29bfe;
    border-radius: 5px;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ;
}

.btnReadMore:active {
    transform: scale(0.99);
}

@media screen and (max-width: 800px) {
    .post {
        flex-direction: column;
        height: auto;
    }

}

@media screen and (max-width: 678px) {
    .post {
        flex-direction: column;
        height: auto;
    }

    .title {
        font-size: 2.3em;
    }

    .imgContainer {
        display: none;
    }

    .textContainer h1 {
        font-size: 1.3em;
    }
}